*{box-sizing: border-box;}
html,body{
  margin:0;
  padding:0;
  font-size:80%;
  color: #212529;
  position:relative;
}
#app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #3F3D56;
  width: 100%;
  min-width: 250px;
  position: relative;
  min-height: 100vh;
  padding-bottom:100px;
}
.page{
  width:90%;
  margin:0 auto;
}
#nav {
  padding: 1.5em;
  background-color: #3F3D56;
  height:60px;
  width: 100%;
}
#nav a {
  float:left;
  color:#ffffff;
  text-decoration: none;
  font-weight:bold;
}
#nav a.router-link-exact-active {
  color: #FF6584;
}
#nav a.screen_name{
  color: #FF6584;
}
#nav a:hover{
  color:#FF6584;
  font-weight: normal;
}
.logo {
  font-size:2em;
  font-weight: bold;
  color:#ffffff;
}
.nav-right{
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
}
li {
  float: left;
}
li a {
  padding: 5px;
}
#nav .username{
  font-weight: bold;
  color:rgb(0, 0, 0);
}
#nav .signout:hover{
  cursor:pointer;
}
footer {
  position:absolute;
  bottom:0;
  background-color: #3F3D56;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
footer p{
  font-weight:normal;
}
footer a{
  color:#FF6584;
  padding-top:10px;
  text-decoration: none;
}
footer a:hover {
  color:#26bd26;
}
#form-container{
  margin: 0 auto;
  background:#89898E;
  border-radius:0.5em;
  min-width: 250px;
  width:90%;
  max-width: 320px;
  font-weight: bold;
  overflow: hidden;
  color:#575656;
  text-align: justify;
}
form{
  padding:30px;
}
.form-header{
  text-align:center;
  background-color: #3F3D56;
  padding: 10px;
  margin:0;
  color: #ffffff;
}
input{
  margin-bottom: 10px;
  padding:10px;
  width:100%;
  font-weight: bold;
  border-radius: 0.5em;
  border:1px solid  #3F3D56;
}
.submit{
  font-weight: bold;
  background-color: #3F3D56;
  border-radius:0.5em;
  border:none;
  text-decoration: none;
  padding: 10px;
  color:#ffffff;
  width:100%;
  margin-top: 10px;
  margin-bottom:5px;
}
button:hover{
  background-color: #ffffff;
  color: #3F3D56;
  cursor: pointer;
}
.text-center{
  text-align: center;
  margin-top: inherit;
  margin-top:20px;
  font-weight: bold;
   color:#000000;
}
.text-center a{
  text-decoration:none;
  color:#ffffff;
}
.text-center a:hover{
    color:#3F3D56;
    text-decoration: underline;
}
label {
  display: inline-block;
  margin: 5px 0 5px;
  color:#000000;
  font-weight: bold;
}
.spinner {
  margin: 10px auto;
  text-align: center;
  display:none;
}
.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #3F3D56;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.submitting{
  background-color: #6c6c85;
}
h1{
  font-size:140%;
}
.index-h1{
  margin-top:38%;
}
.signup-h1{
  margin-top: 20%;
  margin-bottom:10%;
}
img{
  width: 85%;
  margin:0 auto;
  margin-bottom: 3%;
}
.add-todo{
  background:#89898E;
  width:100%;
  border-radius:0.5em;
  border:none;
  margin-bottom: 20px;
}
.add-todo-submit{
  background-color: #3F3D56;
  border-radius:0.5rem;
  border:none;
  text-decoration: none;
  padding: 10px;
  color:#ffffff;
  font-size: 90%;
  width:40%;
  text-align: center;
}
.todo-list{
  background-color: #3F3D56;
  width:100%;
  color:#ffffff;
  padding: 10px;
  border-radius: 0.5em;
  margin-bottom: 3px;
}
.todo-list-li{
  text-align: left;
  list-style: none;
  font-size: 120%;
}
/* toast styling ...*/
.error{
  background-color: #e97971;
  border: 2px solid rgb(231, 24, 9);
}
.success {
  background-color: #d4edda;
  border: 2px solid #26bd26;
}
#showAlert{
  color:black;
  width:90%;
  text-align: justify;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 110%;
  font-weight: bold;
  position: fixed;
}
.toast-enter-from{
  opacity: 0;
  transform:translateY(-60px)
}
.toast-enter-active{
  transition: all 0.3s ease;
}
.toast-leave-to{
  opacity: 0;
  transform:translateY(-60px)
}
.toast-leave-active{
  transition: all 0.3s ease;
}
.action-buttons{
  margin-left: 55%;
  margin-top: 10%;
}
button{
  width:20%;
  font-size: smaller;
  color: #ffffff;
  border:none;
  border-radius: 0.3em;
  font-weight: bold;
  padding:5px;
}
.delete{
 background-color: #f33629;
}
.open{
  background-color: #0096D6;
}
.completed{
  background-color:#3c9b3c;
}
.completed::after{
  content:"Completed"
}
.completed:hover::after{
  content:"Undo ?"

}
.li-completed{
  text-decoration-line: line-through;
  color:#26bd26;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   html,body{
    font-size:100%
   }
   .index-h1{
     margin-top: 15%;
   }
   .signup-h1{
     margin-top:5%;
   }
   img{
   width: 70%;
   }
   .side-img{
     margin-top:8%;
     width:60%;
   }
   .text-center{
     font-size:90%;
   }
   #form-container{
     font-size:100%;
   }
   .form-header{
       font-size: 100%;
   }
   .logo{
       font-size:1.5em;
   }
   .add-todo{
     margin: 0 auto;
     width:90%;
     margin-bottom: 20px;
   }
   .add-todo-submit{
     font-size: 100%;
     width:20%;
   }
   .todo-list{
     width: 90%;
     margin:0 auto;
     margin-bottom:5px;
   }
   .todo-list-li{
     font-size:100%;
   }
   .action-buttons{
     margin-left:70%;
   }
   .holder{
   display: inline-block;
   width: 80%;
   margin: 0 auto;
   }
   #showAlert{
     width: 70%;
     left:15%;
     font-size: 95%;
   }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html,body{
      font-size:100%
    }
    h1{
     font-size:130%;
     margin-top: 12%;
   }
   img{
     margin-top: 15%;
     height: 35%;
     width: 70%;
   }
   .signin-img {
       margin-top:10%;
       width: 45%;
       float:left;
   }
   .text-center{
       font-size:90%;
   }
   #form-container{
       margin-top:8%;
       font-size:90%;
       width:300px;
   }
   .signup-h1{
       margin-top: 8%;
       margin-bottom: 5%;
     }
     .form-header{
         font-size: 100%;
     }
     .logo{
         font-size:1.5rem;
     }
   .add-todo{
       width:90%;
   }
   .add-todo-submit{
       font-size: 100%;
       width:20%;
   }
   input[type=text]{
       width: 70%;
   }
   .todo-list{
       width: 90%;
   }
   .todo-list-li{
       font-size:100%;
   }
   .action-buttons{
       margin-top: 5%;
       margin-left:70%;
   }
   button{
       width:48%;
   }
   .delete{
       margin-left: 3%;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html,body{
      font-size:100%
    }
    h1{
     font-size:150%;
     margin-top: 5%;
   }
   img{
     margin-top: 5%;
     height: 35%;
     width: 70%;
   }
   .signin-img {
       width: 45%;
       float:left;
   }
   .text-center{
       font-size:90%;
   }
   #form-container{
       font-size:90%;
   }
   .signup-h1{
       margin-top: 8%;
       margin-bottom: 5%;
     }
     .form-header{
         font-size: 100%;
     }
     .logo{
         font-size:1.5rem;
     }
   .add-todo{
       width:90%;
   }
   .add-todo-submit{
       font-size: 100%;
       width:20%;
   }
   input[type=text]{
       width: 70%;
   }
   .todo-list{
       width: 90%;
   }
   .todo-list-li{
       font-size:100%;
   }
   .action-buttons{
       margin-top: 0%;
       margin-left:70%;
   }
   button{
       width:48%;
   }
   .delete{
       margin-left: 3%;
   }
   #showAlert{
    width: 70%;
    left:15%;
    font-size: 95%;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
html,body{
 font-size:100%
}
.index-h1{
  margin-top: 4%;
}
.signup-h1{
  margin-top:4%;
  margin-bottom:2%;
}
img{
width: 70%;
}
.side-img{
  margin-top:8%;
  width:45%;
  float:left;
}
.text-center{
  font-size:90%;
}
#form-container{
  font-size:100%;
}
.form-header{
    font-size: 100%;
}
.logo{
    font-size:1.5em;
}
.add-todo{
  margin: 0 auto;
  width:80%;
  margin-bottom: 20px;
}
.add-todo-submit{
  font-size: 100%;
  width:20%;
  margin-left:5%
}
.todo-list{
  width: 80%;
  margin:0 auto;
  margin-bottom:5px;
}
.todo-list-li{
  font-size:100%;
}
.action-buttons{
  margin-left:70%;
}
.delete{
  margin-left: 3%;
}
.holder{
display: inline-block;
width: 80%;
margin: 0 auto;
}
#showAlert{
  width: 70%;
  left:15%;
  font-size: 95%;
}
}